body {
    box-shadow: 0 0 8px red inset;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    position: relative;
}

body #root {
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
