<!DOCTYPE html>
<html lang="en">
    {% include 'layout/head.html' %}
    <body>
        <div class="grid">
            <div id="main" class="grid">
                <header>
                    <div class="content">
                        <nav>
                            <!--<a href="{{ url_for('index') }}">-->
                                <img src="{{ url_for('static', filename='images/logo_pf.png') }}" alt="Python of Fire" style="border-radius:50%;height:40px" />
                            <!--</a>-->
                            <p style="float:right">
                                Suggerimenti? Contattare
                                <br />
                                <a href="mailto:brtzz.mtt@protonmail.com">brtzz.mtt@protonmail.com</a>
                            </p>
                        </nav>
                    </div>
                </header>
                <br />
                <section id="content">
                    {% if title %}
                        <h1>{{ title }}</h1>
                    {% endif %}
                    {% block content %}{% endblock %}
                </section>
                <footer>
                    <br />&nbsp;<br />&nbsp;<br />
                    <div class="sharethis-sticky-share-buttons"></div> <!-- https://platform.sharethis.com/sticky-share-buttons -->
                </footer>
            </div>
        </div>
    </body>
</html>
